<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Kund</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Förnamn</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">

                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="firstName.errors['required'] || firstName.errors['notOnlyWhitespace']">
                                        Förnamn krävs 
                                    </div>

                                    <div *ngIf="firstName.errors['minlength']">
                                       Förnamn måste vara minst 2 tecken långt.
                                    </div>
                                </div> 

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Efternamn</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="lastName.errors['required'] || lastName.errors['notOnlyWhitespace']">
                                        Efternamn krävs.
                                    </div>

                                    <div *ngIf="lastName.errors['minlength']">
                                        Efternamn måste vara minst 2 tecken långt.
                                    </div>

                                 </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="email.errors['required']">
                                        Email krävs
                                    </div>

                                    <div *ngIf="email.errors['pattern']">
                                        Email måste vara ett giltigt e-postadressformat.
                                    </div>

                                 </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- shipping address -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Leveransadress</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Land</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>

                                <div *ngIf="shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressCountry.errors['required']">
                                        Land krävs.
                                    </div>
                                 </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Adress</label></div>
                            <div class="col-md-9">
                                <div class="input-space">  
                                <input formControlName="street" type="text">
                        
                                 <div *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressStreet.errors['required'] || shippingAddressStreet.errors['notOnlyWhitespace']">
                                        Adress krävs
                                    </div>
                                    <div *ngIf="shippingAddressStreet.errors['minlength']">
                                        Adress måste vara minst 2 tecken långt.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Stad</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">

                                <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressCity.errors['required'] || shippingAddressCity.errors['notOnlyWhitespace']">
                                        Stad krävs.
                                    </div>
                                    <div *ngIf="shippingAddressCity.errors['minlength']">
                                       Stad måste vara minst 2 tecken långt.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Postnummer</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">

                                <div *ngIf="shippingAddressZipCode.invalid && (shippingAddressZipCode.dirty || shippingAddressZipCode.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressZipCode.errors['required'] || shippingAddressZipCode.errors['notOnlyWhitespace']">
                                        Postnummer krävs.
                                    </div>
                                    <div *ngIf="shippingAddressZipCode.errors['minlength']">
                                        Postnummer måste vara minst 2 tecken långt.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                
                <!-- Add check box to copy shipping to billing -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Faktureringsadress är samma som Leveransadress.
                    </label>
                </div>

                <!-- Billing address -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Fakturaadress</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Land</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>

                                <div *ngIf="billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressCountry.errors['required']">
                                        Land krävs
                                    </div>
                                 </div>
                                 
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Adress</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">

                                <div *ngIf="billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressStreet.errors['required'] || billingAddressStreet.errors['notOnlyWhitespace']">
                                         Adress krävs.
                                    </div>
                                    <div *ngIf="billingAddressStreet.errors['minlength']">
                                        Adress måste vara minst 2 tecken långt.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Stad</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">

                                <div *ngIf="billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressCity.errors['required'] || billingAddressCity.errors['notOnlyWhitespace']">
                                        Stad krävs.
                                    </div>
                                    <div *ngIf="billingAddressCity.errors['minlength']">
                                        Stad måste vara minst 2 tecken långt.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Postnummer</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">

                                <div *ngIf="billingAddressZipCode.invalid && (billingAddressZipCode.dirty || billingAddressZipCode.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressZipCode.errors['required'] || billingAddressZipCode.errors['notOnlyWhitespace']">
                                        Postnummer krävs.
                                    </div>

                                    <div *ngIf="billingAddressZipCode.errors['minlength']">
                                        Postnummer måste vara minst 2 tecken långt.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- Credit Card -->
              
                <!-- Stripe Elemetns Credit Card Section -->
                <div formGroupName="creditCard" class="form-area">

                    <h3>Kredit eller Debit kort</h3>

                    <div id="card-element">
                        <!-- a Stripe element will be inserted here -->
                    </div>

                    <!-- Used to display form errors -->
                    <div id="card-errors" class="displayError.textContent!=='': 'alert alert-danger mt-1'"></div>
                    
                </div>


                <!-- Order details -->
                <div class="form-area">
                    <h3>Granska din beställning</h3>

                    <p>Total kvantitet: {{ totalQuantity }}</p>
                    <p>Frakt: Kostnadsfri</p>
                    <p>Total Pris: {{ totalPrice| currency: 'SEK ' }}</p>
                </div>


                <!-- submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Köp</button>
                </div>

            </form>

        </div>
    </div>
</div>
