<div class="login-status-header">

    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
        Välkommen tillbaka {{ userFullName }}
    </div>

    <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">logga in</button>

    <button *ngIf="isAuthenticated" (click)="logout()" class="security-btn">Logga ut</button>

    <button *ngIf="isAuthenticated" routerLink="/members" class="security-btn ml-1">Medlem</button>

    <button *ngIf="isAuthenticated" routerLink="/order-history" class="security-btn ml-1">Beställningar</button>

</div>