<table class="table">

    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Namn</th>
            <th>Pris</th>
            <th>Enheter i lager</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let tempProduct of products">
            <td class="align-middle">
                <img src="{{ tempProduct.imageUrl }}" height="80" />
            </td>
            <td class="align-middle"> {{ tempProduct.name}}</td>
            <td class="align-middle"> {{ tempProduct.unitPrice | currency:'SEK '}}</td>
            <td class="align-middle"> {{ tempProduct.unitsInStock}}</td>
        </tr>

    </tbody>
</table>