<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h3>Dina beställningar</h3>

            <div *ngIf="orderHistoryList.length > 0">
                <table class="table table-border">
                    <tr>
                        <th width="20%">Orderspårningsnummer</th>
                        <th width="10%">Total Pris</th>
                        <th width="10%">Total Kvantitet</th>
                        <th width="10%">Datum</th>
                    </tr>

                    <tr *ngFor="let tempOrderHistory of orderHistoryList">
                            <td>
                                {{ tempOrderHistory.orderTrackingNumber }}
                            </td>
                            <td>
                                {{ tempOrderHistory.totalPrice | currency: 'SEK ' }}
                            </td>
                            <td>
                                {{ tempOrderHistory.totalQuantity }}
                            </td>
                            <td>
                                {{ tempOrderHistory.dateCreated | date: 'medium' }}
                            </td>  
                    </tr>
                </table>
            </div>

            <!-- if order history is empty then display a message -->
            <div *ngIf="orderHistoryList.length == 0" class="alert alert-warning col-md-12" role="alert">
                Inga beställningar hittades.
            </div>

        </div>
    </div>
</div>